<html>
    <head>
        <title>BLOG DE DANI</title>
    </head>
    <body>
        <div>
            <h1>APRENDIENDO A PROGRAMAR</h1>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2> MI PRIMERA PAG </h2>
            <p>Gracias a mi compañera Heidis, he aprendido a crear una pagina web con python.</p>
        </div>

        <div>
            <p>publicado: 14.06.2014, 12:14</p>
            <h2> UN DIA DE RETOS</h2>
            <p>Este dìa he colocado a prueba mi capacidad mental y mis hablidades.</p>
        </div>
    </body>
</html>